@import ../center/center
form.login ,form.signup 
    width: 300px
form.login ,form.signup ,form.add_center
    padding: 10px
    margin: 5px auto    
    @extend .sh , .b-r 
    label 
        display: grid
        div
            margin: 10px 
            input
                padding:  15px

            p 
                width: fit-content
                margin: -13px 25px 0 0
                z-index: 11
                background-color: #fff
                color: #2680eb
                position: absolute
                padding: 0 10px 
    input  
        @extend .sh
        padding: 10px
        margin: 5px
        border: 0.5px solid #2680eb
        border-radius: 20px
        width: 90%
    #submit
        @extend input
        width: 88%
        background-color: #2680eb
        color: #fff
        text-align: center
    span 
        color: #2680eb
    p 
        padding: 10px
#login_box , #signup_box
    margin: 100px auto
#auth #signup_box
    display: none
.add_center
    width: 90%